.modalQuiz-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-quiz {
    background: linear-gradient(to right, #461a42, #290e33);
    padding: 270px;
    width: 700px;
    border-radius: 8px;
    position: relative;
  }  

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
}


#quiz-fields {
    width: 100%;
    height: 30px;
    border: 1px solid #000000;
    padding: 10px;
}