.profile {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

.profile h1 {
    text-align: center;
    color: #7439db;
}

.user-info {
    margin-bottom: 20px;
}

.logout-button {
    background-color: rgba(212, 22, 22, 0.4);
    border: none;
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: rgba(255, 38, 0, 0.956)
}

.btn-quiz {
    background-color: rgba(224, 67, 10, 0.4);
    border: none;
    color: #fff; 
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.btn-quiz:hover {
    background-color: rgba(255, 68, 0, 0.907);
}